@media screen and (min-width: 1000px) {
    .content {
        position: relative;
        width: 700px;
        height: 600px;
        top: 100px;
        left: calc(50% - 350px);
    }
    .game {
        position: relative;
        width: 100%;
        height: 80px;
        font-size: 60px;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        color: grey;
    }
    .hi {
        position: relative;
        width: 100%;
        height: 40px;
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        color: grey; 
    }
    .hi1 {
        position: relative;
        width: 100%;
        height: 30px;
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        color: grey; 
    }
    .command {
        height: 55px;
        border-bottom: solid 1px rgb(199, 199, 199);
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
        color: grey; 
        margin-bottom: 30px;
    }
    input {
        height: 50px;
        position: relative;
        top: 0px;
        font-size: 24px;
        border: 0px;
        outline: none;
        left: 20px;
        padding-top: 0px;
        color: grey;
    }
    p {
        position: relative;
        margin: 0px 0px 0px 0px;
        top: -32px;
        left: 20px;
        font-family: 'Arial';
        color: grey;
        display: block;
        visibility: visible;
        transition: top .3s, left .3s;
        pointer-events: none;
        font-size: 24px;
    }
    input:focus + p {
        top: -70px;
        left: 10px;
        display: block;
        visibility: visible;
        color: rgb(108, 108, 248);
    }
    button {
        font-size: 22px;
        font-family: Arial, Helvetica, sans-serif;
        color: grey; 
        background: white;
        border: none;
        cursor: pointer;
    }
    button:last-child {
        border-left: solid 1px grey;
    }
    textarea {
        position: relative;
        width: 100%;
        height: 90%;
        font-size: 30px;
        font-family: Arial, Helvetica, sans-serif;
        background-position: center;
        background-repeat: no-repeat;
        resize: none;
        border: solid 1px grey;
    }
    .answer {
        position: relative;
        width: 100%;
        height: 300px;
    }
    .counter {
        position: relative;
        width: 100%;
        height: 50px;
        font-family: Arial, Helvetica, sans-serif;
        color: orange;
        font-size: 36px;
        font-weight: 600;
    }
    .timer {
        position: relative;
        width: 100%;
        height: 50px;
        font-family: Arial, Helvetica, sans-serif;
        color: orange;
        font-size: 40px;
        font-weight: 600;
    }
}

@media screen and (max-width: 1000px) {
    .content {
        position: relative;
        width: 100%;
        height: 100%;
        top: 50px;
    }
    .game {
        position: relative;
        width: 100%;
        height: 140px;
        font-size: 10vw;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        color: grey;
    }
    .hi {
        position: relative;
        width: 100%;
        height: 270px;
        font-size: 4vw;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        color: grey; 
    }
    .hi1 {
        position: relative;
        width: 100%;
        height: 190px;
        font-size: 60px;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        color: grey; 
    }
    .command {
        height: 90px;
        border-bottom: solid 2px rgb(199, 199, 199);
        font-size: 40px;
        font-family: Arial, Helvetica, sans-serif;
        color: grey; 
        padding-bottom: 0px;
        margin-bottom: 70px;
    }
    input {
        height: 90px;
        position: relative;
        top: 0px;
        font-size: 60px;
        border: 0px;
        outline: none;
        left: 20px;
        padding-bottom: 0px;
        margin-bottom: 40px;
        color: grey;
    }
    p {
        position: relative;
        margin: 0px 0px 0px 0px;
        top: -130px;
        left: 20px;
        font-family: 'Arial';
        color: grey;
        display: block;
        visibility: visible;
        transition: top .3s, left .3s;
        font-size: 70px;
        pointer-events: none;
    }
    input:focus + p {
        top: -200px;
        left: 10px;
        display: block;
        visibility: visible;
        color: rgb(108, 108, 248);
    }
    button {
        font-size: 50px;
        font-family: Arial, Helvetica, sans-serif;
        color: grey; 
        background: white;
        border: none;
    }
    button:last-child {
        border-left: solid 1px grey;
    }
    .buttons {
        margin-bottom: 50px;
    }
    textarea {
        width: 99%;
        height: 400px;
        margin-bottom: 20px;
        font-size: 48px;
        border: solid 3px grey;
    }
    .counter {
        position: relative;
        width: 100%;
        height: 100px;
        font-family: Arial, Helvetica, sans-serif;
        color: orange;
        font-size: 60px;
        font-weight: 600;
    }
    .timer {
        position: relative;
        width: 100%;
        height: 50px;
        font-family: Arial, Helvetica, sans-serif;
        color: orange;
        font-size: 60px;
        font-weight: 600;
    }
}